.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-size: 1.2rem;
  color: #0070f3;
}

.title {
  padding-bottom: 1rem;
}

.title + a {
  font-size: 1.5rem;
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  /* Uncomment for gradient animation */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent; 
  animation: gradient-flow 7s ease infinite;
}

@keyframes gradient-flow {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title,
.description {
  text-align: center;
}

.comparisonContainer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2.5rem;
  padding: 1.5rem 0;
}

.selectorContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}