.container {
  padding: 0 2rem;
}

.main {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent; 
  animation: gradient-flow 7s ease infinite;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }
  
  .comparisonContainer {
    padding-top: 0.5rem; 
  }
}
@media screen and (max-width: 350px) {
  .title {
    font-size: 1.5rem;
  }
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title,
.description {
  text-align: center;
}

.comparisonContainer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  padding: 1rem 0;
}

.selectorContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 1000px) {
  .selectorContainer {
    display: flex;
    flex-direction: column;
  } 
}

.swapBtn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid violet;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

@media screen and (max-width: 1000px) { 
  .swapBtn {
    padding: 0.5rem;
  }
}

.swapBtn:hover {
  transform: translateY(-3px);
  box-shadow: 4px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.swapIcon {
  width: 26px;
  height: 26px;
}

@media screen and (max-width: 1000px) {
 .swapIcon {
   transform: rotate(90deg);
 }
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-size: 1.2rem;
  color: #0070f3;
}