.exchangeDetailsContainer {
    display:flex;   
    align-items: center;
    gap: 24px;
    padding: 1rem;
    min-width: 250px;
    border-radius: 6px;
    box-shadow: 1px 0px 6px 1px hsl(307deg 100% 61% / 37%);
    background-color: rgba(255, 128, 240, 0.103);
}

.currencyInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.currencyValue {
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .exchangeDetailsContainer {
        flex-direction: column;
        gap: 8px;
    }
}