.exchangeDetailsContainer {
    display:flex;   
    align-items: center;
    gap: 24px;
    padding: 1rem 1.5rem;
    min-width: 250px;
    border-radius: 6px;
    box-shadow: 1px 0px 6px 1px rgba(255, 56, 232, 0.363);
}

.flagImage {
    border: 1px solid rgba(197, 195, 195, 0.897) !important;
    border-radius: 3px;
}

.currencyInfo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
}

.currencyValue {
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .exchangeDetailsContainer {
        flex-direction: column;
        gap: 8px;
    }
}

